<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

{% extends "interfaceApp/base.html" %}
<meta charset="utf-8"/>
{% block title %} <title>Dashboard</title> {% endblock title %}

{% block navbar-title %} G3V-SDCAN {% endblock navbar-title %}

{% block sidebar-title %} Real time data {% endblock sidebar-title %}

{% block sidebar-items %}
    <!-- Add your sidebar items here -->
{% endblock sidebar-items %}

{% block section %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Measurements</h2>
                    <div class="table-container">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>time</th>
                                <th>Temperature</th>
                                <th>Pressure</th>
                                <th>Altitude</th>
                                <th>LPG</th>
                                <th>Methane</th>
                                <th>O3</th>
                                <th>CO</th>
                                <th>CO2</th>
                                <th>Ammonia</th>
                                <th>Toluene</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Gas Concentration Chart</h2>
                    <div id="chart-container">
                        <div id="gasChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.28.3/dist/apexcharts.min.js"></script>
    <script>
        const tableBody = document.getElementById('table-body');
        const maxRows = 5;

        // Define empty arrays for storing data points
        let chartLPGData = [];
        let chartMethaneData = [];
        let chartO3Data = [];
        let chartCOData = [];
        let chartCO2Data = [];
        let chartAmmoniaData = [];
        let chartTolueneData = [];
        let chartLabel = [];

        const gasChart = document.getElementById('gasChart');

        const gasChartOptions = {
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                },
            },
            series: [
                { name: 'LPG', data: chartLPGData },
                { name: 'Methane', data: chartMethaneData },
                { name: 'O3', data: chartO3Data },
                { name: 'CO', data: chartCOData },
                { name: 'CO2', data: chartCO2Data },
                { name: 'Ammonia', data: chartAmmoniaData },
                { name: 'Toluene', data: chartTolueneData },
            ],
            xaxis: {
                categories: chartLabel,
            },
            legend: {
                position: 'top',
            },
        };

        const newGasChart = new ApexCharts(gasChart, gasChartOptions);
        newGasChart.render();

        function updateGasChart() {
            // Update the chart's datasets with the latest data arrays
            newGasChart.updateSeries([
                { name: 'LPG', data: chartLPGData },
                { name: 'Methane', data: chartMethaneData },
                { name: 'O3', data: chartO3Data },
                { name: 'CO', data: chartCOData },
                { name: 'CO2', data: chartCO2Data },
                { name: 'Ammonia', data: chartAmmoniaData },
                { name: 'Toluene', data: chartTolueneData },
            ]);
        }

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/room/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            // Redondear los valores numéricos a 2 decimales
            data.temperature = parseFloat(data.temperature).toFixed(2);
            data.pressure = parseFloat(data.pressure).toFixed(2);
            data.altitude = parseFloat(data.altitude).toFixed(2);
            data.LPG = parseFloat(data.LPG).toFixed(2);
            data.Methane = parseFloat(data.Methane).toFixed(2);
            data.O3 = parseFloat(data.O3).toFixed(2);
            data.CO = parseFloat(data.CO).toFixed(2);
            data.CO2 = parseFloat(data.CO2).toFixed(2);
            data.Ammonia = parseFloat(data.Ammonia).toFixed(2);
            data.Toluene = parseFloat(data.Toluene).toFixed(2);

            // Create a new row for the table
            const row = document.createElement('tr');
            const datetimeCell = document.createElement('td');
            const temperatureCell = document.createElement('td');
            const pressureCell = document.createElement('td');
            const altitudeCell = document.createElement('td');
            const lpgCell = document.createElement('td');
            const MethaneCell = document.createElement('td');
            const o3Cell = document.createElement('td');
            const coCell = document.createElement('td');
            const co2Cell = document.createElement('td');
            const AmmoniaCell = document.createElement('td');
            const TolueneCell = document.createElement('td');

            var dateString = data.datetime;
            var date = new Date(dateString);
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") +  minutes + ":" + (seconds < 10 ? "0" : "")  + seconds;

            // Set the cell values from the received data
            datetimeCell.textContent = formattedTime;
            temperatureCell.textContent = data.temperature;
            pressureCell.textContent = data.pressure;
            altitudeCell.textContent = data.altitude;
            lpgCell.textContent = data.LPG;
            MethaneCell.textContent = data.Methane;
            o3Cell.textContent = data.O3;
            coCell.textContent = data.CO;
            co2Cell.textContent = data.CO2;
            AmmoniaCell.textContent = data.Ammonia;
            TolueneCell.textContent = data.Toluene;

            // Insert the cells into the row
            row.appendChild(datetimeCell);
            row.appendChild(temperatureCell);
            row.appendChild(pressureCell);
            row.appendChild(altitudeCell);
            row.appendChild(lpgCell);
            row.appendChild(MethaneCell);
            row.appendChild(o3Cell);
            row.appendChild(coCell);
            row.appendChild(co2Cell);
            row.appendChild(AmmoniaCell);
            row.appendChild(TolueneCell);

            // Insert the row at the beginning of the table body
            tableBody.prepend(row);

            // Remove extra rows if the table exceeds the maximum number of rows
            if (tableBody.children.length > maxRows) {
                tableBody.lastElementChild.remove();
            }

            // Update the chart data arrays with the new values
            chartLPGData.push(data.LPG);
            chartMethaneData.push(data.Methane);
            chartO3Data.push(data.O3);
            chartCOData.push(data.CO);
            chartCO2Data.push(data.CO2);
            chartAmmoniaData.push(data.Ammonia);
            chartTolueneData.push(data.Toluene);
            chartLabel.push(formattedTime);

            // Limit the chart data arrays to a maximum number of data points (e.g., 10)
            const maxDataPoints = 5;
            if (chartLabel.length > maxDataPoints) {
                chartLPGData.shift();
                chartMethaneData.shift();
                chartO3Data.shift();
                chartCOData.shift();
                chartCO2Data.shift();
                chartAmmoniaData.shift();
                chartTolueneData.shift();
                chartLabel.shift();  // Remove the oldest data point
            }

            // Update the line chart with the updated data
            updateGasChart();
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
{% endblock section %}
</html>
