<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

{% extends "interfaceApp/base.html" %}
<meta charset="utf-8"/>
{% block title %} <title>Dashboard</title> {% endblock title %}

{% block navbar-title %} G3V-SDCAN {% endblock navbar-title %}

{% block sidebar-title %} Real time data {% endblock sidebar-title %}

{% block sidebar-items %}
    {% comment %} <div class="sidebar-item">Temperature</div>
    <div class="sidebar-item">Pressure</div>
    <div class="sidebar-item">Altitude</div>
    <div class="sidebar-item">Liquid Petrol Gas (LPG)</div>
    <div class="sidebar-item">Methane (CH4)</div>
    <div class="sidebar-item">Ozone (O3)</div>
    <div class="sidebar-item">Carbon Monoxide (CO)</div>
    <div class="sidebar-item">Carbon Dioxide (CO2)</div>
    <div class="sidebar-item">Ammonium (NH4)</div>
    <div class="sidebar-item">Toluen (C6H5CH3)</div>
    <div class="sidebar-item">Speed</div>
    <div class="sidebar-item">RSSI</div> {% endcomment %}
{% endblock sidebar-items %}

{% block section %}

    <section class="section">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Measurements</h2>
                    <div class="table-container">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>time</th>
                                <th>Temperature</th>
                                <th>Pressure</th>
                                <th>Altitude</th>
                                <th>LPG</th>
                                <th>CH4</th>
                                <th>O3</th>
                                <th>CO</th>
                                <th>CO2</th>
                                <th>NH4</th>
                                <th>Toluen</th>
                                <th>SPEED</th>
                                <th>RSSI</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Chart 4</h2>
                    <div id="chart-container">
                        <div id="lineChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Map Chart</h2>
                    <div id="mapChart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Gas Concentration Chart</h2>
                    <div id="chart-container">
                        <div id="gasChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.28.3/dist/apexcharts.min.js"></script>
        <script>

        const tableBody = document.getElementById('table-body');
        const maxRows = 5;

        // Define empty arrays for storing data points
        let chartSpeedData = [];
        let chartRssiData = [];
        let chartLabel = [];

        const lineChart = document.getElementById('lineChart');

        // Create the chart and store the instance in a variable
        const chart = new ApexCharts(lineChart, {
            series: [
                {name: 'Speed', data: chartSpeedData},
                {name: 'RSSI', data: chartRssiData},
            ],
            chart: {type: 'line', height: 350},
            xaxis: {categories: chartLabel},
            yaxis: {title: {text: 'Value'}},
            legend: {position: 'top'},
        });

        function updateLineChart() {
            // Update the chart's datasets with the latest data arrays
            chart.updateSeries([
                {name: 'Speed', data: chartSpeedData},
                {name: 'RSSI', data: chartRssiData},
            ]);

            // Update the chart
            chart.updateOptions({
                xaxis: {categories: chartLabel},
            });
        }

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/room/'
        );


        {% comment %} chatSocket.onopen = function(e) {
            // Connection is established, send initial data if needed
            chatSocket.send(JSON.stringify({ 'message': 'Initial data' }));
        }; {% endcomment %}

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            // Create a new row for the table
            const row = document.createElement('tr');
            const datetimeCell = document.createElement('td');
            const temperatureCell = document.createElement('td');
            const pressureCell = document.createElement('td');
            const altitudeCell = document.createElement('td');
            const lpgCell = document.createElement('td');
            const ch4Cell = document.createElement('td');
            const o3Cell = document.createElement('td');
            const coCell = document.createElement('td');
            const co2Cell = document.createElement('td');
            const nh4Cell = document.createElement('td');
            const ToluenCell = document.createElement('td');
            const speedCell = document.createElement('td');
            const rssiCell = document.createElement('td');

            var dateString = data.datetime;
            var date = new Date(dateString);
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") +  minutes + ":" + (seconds < 10 ? "0" : "")  + seconds;

            // Set the cell values from the received data
            datetimeCell.textContent = formattedTime;
            temperatureCell.textContent = data.Temperature;
            pressureCell.textContent = data.Pressure;
            altitudeCell.textContent = data.Altitude;
            lpgCell.textContent = data.LPG;
            ch4Cell.textContent = data.CH4;
            o3Cell.textContent = data.O3;
            coCell.textContent = data.CO;
            co2Cell.textContent = data.CO2;
            nh4Cell.textContent = data.NH4;
            ToluenCell.textContent = data.Toluen;
            speedCell.textContent = data.Speed;
            rssiCell.textContent = data.RSSI;

            // Insert the cells into the row
            row.appendChild(datetimeCell);
            row.appendChild(temperatureCell);
            row.appendChild(pressureCell);
            row.appendChild(altitudeCell);
            row.appendChild(lpgCell);
            row.appendChild(ch4Cell);
            row.appendChild(o3Cell);
            row.appendChild(coCell);
            row.appendChild(co2Cell);
            row.appendChild(nh4Cell);
            row.appendChild(ToluenCell);
            row.appendChild(speedCell);
            row.appendChild(rssiCell);

            // Insert the row at the beginning of the table body
            tableBody.prepend(row);

            // Remove extra rows if the table exceeds the maximum number of rows
            if (tableBody.children.length > maxRows) {
                tableBody.lastElementChild.remove();
            }

            // Update the chart data arrays with the new values
            chartSpeedData.push(data.Speed);
            chartRssiData.push(data.RSSI);
            chartLabel.push(formattedTime);

            // Limit the chart data arrays to a maximum number of data points (e.g., 10)
            const maxDataPoints = 5;
            if (lineChart.length > maxDataPoints) {
                chartSpeedData.shift() // Remove the oldest data point
                chartRssiData.shift();  // Remove the oldest data point
                chartLabel.shift();  // Remove the oldest data point
            }

            // Update the line chart with the updated data
            updateLineChart();

            // Elemento DIV donde se mostrará el mapa
            var mapContainer = document.getElementById('mapChart');

            // Crea un mapa Leaflet centrado en una ubicación específica
            const estacion_terrena_latitude = data.estacion_terrena_latitude;
            const estacion_terrena_longitude = data.estacion_terrena_longitude;
            var myMap = L.map(mapContainer).setView([estacion_terrena_latitude, estacion_terrena_longitude], 15);

            // Agrega un marcador a la ubicación
            var marker1 = L.marker([estacion_terrena_latitude, estacion_terrena_longitude]).addTo(myMap);
            marker1.bindPopup("Estacion Terrena");

            const estacion_espacial_latitude = data.Latitude;
            const estacion_espacial_longitude = data.Longitude;            
            // Agrega un marcador a la ubicación
            var marker2 = L.marker([estacion_espacial_latitude, estacion_espacial_longitude]).addTo(myMap);
            marker2.bindPopup("Estacion Espacial");


            // Agrega el mapa base de OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(myMap);

            const gasChartOptions = {
                chart: {
                    type: 'bar',
                    height: 350,
                    stacked: true,
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                    },
                },
                series: [
                    { name: 'LPG', data: [data.LPG] },
                    { name: 'CH4', data: [data.CH4] },
                    { name: 'O3', data: [data.O3] },
                    { name: 'CO', data: [data.CO] },
                    { name: 'CO2', data: [data.CO2] },
                    { name: 'NH4', data: [data.NH4] },
                    { name: 'Toluen', data: [data.Toluen] },
                ],
                xaxis: {
                    categories: ['Gases'],
                },
                legend: {
                    position: 'top',
                },
            };
    
            // Renderiza el gráfico de concentración de gases
            const gasChart = new ApexCharts(document.querySelector('#gasChart'), gasChartOptions);
            gasChart.render();
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        // Render the chart
        chart.render();

    </script>

{% endblock section %}

</html>
