<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
    {% extends "interfaceApp/base.html" %}
    <meta charset="utf-8"/>
  {% block title %} <title>Dashboard</title> {% endblock title %}

  {% block navbar-title %} G3V-SDCAN {% endblock navbar-title %}

  {% block sidebar-title %} Measurements {% endblock sidebar-title %}
  {% block sidebar-items %}
  <div class="sidebar-item">Temperature</div>
  <div class="sidebar-item">Pressure</div>
  <div class="sidebar-item">Altitude</div>
  <div class="sidebar-item">RSSI</div>
  {% endblock sidebar-items %}

  {% block chart-1 %}
  <h2 class="section-heading">Table</h2>
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <th>Header 3</th>
          <th>Header 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
        </tr>
        <tr>
          <td>Data 4</td>
          <td>Data 5</td>
          <td>Data 6</td>
        </tr>
        <tr>
          <td>Data 4</td>
          <td>Data 5</td>
          <td>Data 6</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock chart-1 %}
  {% block chart-2 %}
  <h2 class="section-heading">Chart 1</h2>
  <div class="chart-container">
    <div id="chart1"></div>
  </div>

  {% endblock chart-2 %}

  {% block chart-3 %}
  <h2 class="section-heading">Chart 3</h2>
  <div>
        <canvas id="lineChart"></canvas>
    </div>      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/room/'
        );

        // Define an empty array for storing data points
        let chartData = [];
        let chartLabel = [];

        const lineChart = document.getElementById('lineChart');

        // Create the chart and store the instance in a variable
        const chart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: chartLabel,
                datasets: [{
                    label: 'My First Dataset',
                    data: chartData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                }],
            },
        });

        function updateLineChart() {
            // Update the chart's dataset with the latest data array
            chart.data.datasets[0].data = chartData;
            chart.data.chartLabel = chartLabel;
        
            // Update the chart
            chart.update();
        }
        
        chatSocket.onopen = function(e) {
            // Connection is established, send initial data if needed
            chatSocket.send(JSON.stringify({ 'message': 'Initial data' }));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
        
            // Update the chart data array with the new value
            chartData.push(data.value);
            chartLabel.push(data.index);
        
            // Limit the chart data array to a maximum number of data points (e.g., 10)
            const maxDataPoints = 10;
            if (chartData.length > maxDataPoints) {
                chartData.shift();  // Remove the oldest data point
                chartLabel.shift();  // Remove the oldest data point
            }
        
            // Update the line chart with the updated data
            updateLineChart();
        };
        
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
    {% endblock chart-3 %}
  {% block chart-4 %}{% endblock chart-4 %}
  {% block table- %}{% endblock table- %}


</html>
