<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>
</head>
<body>
    <div>
        <canvas id="lineChart"></canvas>
    </div>      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/room/'
        );

        // Define an empty array for storing data points
        let chartData = [];
        let chartLabel = [];

        const lineChart = document.getElementById('lineChart');

        // Create the chart and store the instance in a variable
        const chart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: chartLabel,
                datasets: [{
                    label: 'My First Dataset',
                    data: chartData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                }],
            },
        });

        function updateLineChart() {
            // Update the chart's dataset with the latest data array
            chart.data.datasets[0].data = chartData;
            chart.data.chartLabel = chartLabel;
        
            // Update the chart
            chart.update();
        }
        
        chatSocket.onopen = function(e) {
            // Connection is established, send initial data if needed
            chatSocket.send(JSON.stringify({ 'message': 'Initial data' }));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
        
            // Update the chart data array with the new value
            chartData.push(data.value);
            chartLabel.push(data.index);
        
            // Limit the chart data array to a maximum number of data points (e.g., 10)
            const maxDataPoints = 10;
            if (chartData.length > maxDataPoints) {
                chartData.shift();  // Remove the oldest data point
                chartLabel.shift();  // Remove the oldest data point
            }
        
            // Update the line chart with the updated data
            updateLineChart();
        };
        
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>

</body>
</html>
